
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stylera</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
        <!--<link rel="stylesheet" media="screen and (max-width:610px)" href="css/under_610.css">-->
    </head>
    <body>
    

    <nav class="navbar navbar-light bg-faded">
        <div class="container">
            <span class="navbar-text col-md-1">
                <a href="{{url_for('marcasGuide')}}">
                    <p>Estile</p>
                </a>
            </span>
            {% if check == True %}
            <span class="navbar-text col-md-2 store">
            <a href="{{url_for('myStoreList')}}">My Store</a>
            </span>
            {% endif %}
            <span class="navbar-text col-md-1 login">
            {% if 'username' not in session %}
            <a href="{{url_for('showLogin')}}">Log in</a>
            {% else %}
            <a href="{{url_for('disconnect')}}">Logout</a>
            {% endif %}
            </span>
        </div>
    </nav>

    <main class="main">
    	<div class="container">     
            <div class="row tudo">  
              <div class="col-md-4 itens" >
                
                <img src="{{url_for('static', filename='uploads/'+i.picture)}}">
                <p>{{i.name}}</p>
                <p>R$ {{i.price}}</p>
              </div>
              <div class="espec">
              	<form action="{{url_for('itemBought', marca_id=marca_id, item_id=i.id)}}" method="post" enctype=multipart/form-data>
                <table>
                <tr>
                    <th>
                        <input type="hidden" name="on0" value="Size">
                        <label for="os0">Size</label>
                    </th>
                    <td>
                        <select name="os0" id="os0">
                            {% if i.quantityP > 0 %}
                            	<option value="P">P</option>
                            {% endif %}
                            {% if i.quantityM > 0 %}
                                <option value="M">M</option>
                            {% endif %}
                            {% if i.quantityG > 0 %}
                                <option value="G">G</option>
                            {% endif %}
                        </select>
                    </td>
                </tr>
                </table>
                <input type="submit" value="Add to Cart" name="submit">
            </form>
            <p><a href="{{url_for('marcaVitrine',marca_id=marca_id)}}">back</a></p>
              </div>
            </div>
        </div>
    </main>
</body>
</html>
